body {
  background: peachpuff;
}

* {
  border:1px solid thistle;
  box-sizing:border-box
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

header, footer, aside, .wrapper {
  flex-grow: 1;
  marin: .5em;
  max-height: 10vh;
}

aside {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;
}

main {
  flex-grow: 4;
}

@media (min-width: 600px)
.wrapper{
  flex-direction: row;
}

aside {
  width: 80%;
  flex: 4;
  align-items: center;
  margin-right: 1em;
}

aside > div {
  height: 10em;
}
 main {
  flex: 2;
 }
  